{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<fieldset>
  <legend>Search for someone</legend>
  <div class="flex">
    <div class="self-end flex-1 pr-4">{{ form.title }}</div>
    <div class="self-end flex-none pl-4">{{ form.actions }}</div>
  </div>
</fieldset>
