{#
/**
 * @file
 * Default theme implementation to display an oEmbed resource in an iframe.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html>
  <head>
    <style>
    .media-embed-letterbox {
      position: relative;
      padding-bottom: 56.25%;
      height: 0 !important;
      overflow: hidden;
    }
    .media-embed-letterbox iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
    }
    </style>
  </head>
  <body style="margin: 0" class="media-embed-letterbox">
    {{ media|raw }}
  </body>
</html>
