<div id="totop-mask"></div>
<button id="totop" v-scroll-to="{ el: 'body'}">
  <span class="sr-only">to top</span>
  <svg role="presentation" class="inline-block h-8 w-8 text-ubc-blue rotate-90">
    <use xlink:href="#icon-arrow"></use>
  </svg>
</button>
